/* EXEMPLE DE MEDIA QUERIE */
/* Si je code en mobile puis travail sur le responsive */

@media only screen and (min-width: 576px) {
  .ft-size-prix {
    font-size: 1.2em;
  }

  .main__div--add-padding {
    padding: 0 20%;
  }

  footer>section.footer {
    flex-wrap: nowrap;
    padding: 0 10%;
  }

  footer>section.footer div {
    text-align: center;
    padding: 2%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main__div--add-padding {
    padding: 0 20%;
  }

  footer nav.navbar-footer{
    width: 40%;
  }

  header section.banniere{
    height: 420px;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (max-width: 1400px) {}