
body{
    background: url("../images/background.jpg");
    margin:0;
}

.ft-size-prix{
  font-size: 1em;
}

header>img{
    display: block;
    margin: 20px auto;
}

header .subtitle{
   text-align: center; 
}

header .subtitle span{
    color :orange;
}

header p{
    margin: 30px 0 30px 40px;
}

header>nav{
    width: 100%;
}

.navbar{
    display:flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}

header>nav>ul>li{
    margin: 0 20px;
    font-size: 0.8em;
    font-weight: 600;
}

header section.banniere{
  height: 220px;
  width: 100%;
  background: url("../images/header-page-catalogue.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.main__div--add-padding{
    background-color: rgb(56, 56, 56);
    padding: 10px;
}

main div.container{
    background: url("../images/background.jpg");
    padding: 7% 15% ; 
}

main div.container section>img{
  width: 100%;
}

main div.container div.promo{
  position: absolute;
  background-color: rgb(33, 37, 41);
  color:orange;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 800;
  top: 10%;
  right: -30px;
}

main div.container div.description{
  position: absolute;
  bottom:-55px;
  width: 100%;
  text-align: center;
  /* border:1px solid blue; */
}

main div.container div.description>p{
  background-color: white;
  padding: 10px;
}

main div.container div.description>p.description-ft-size{
  font-size: 0.8em;
}

main div.container div.detail p{
  font-weight: 700;
}

main div.container div.detail>p.ancien-prix {
  text-decoration:line-through;
}

main div.container div.detail>p.nouveau-prix {
  color:orange;
}

main section{
    position: relative;
    /* border:1px solid red; */
    margin-bottom: 120px;
}

main div.detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main div.detail>a{
    background-color: rgb(33, 37, 41);
    padding: 7px;
    color:white;
    text-decoration: none;
}

footer{
  background-color: rgb(33, 37, 41);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 200px; */
}

footer nav.navbar-footer{
  background-color: white;
  position: absolute;
  padding: 2px 15px;
  border-radius: 5px;
  width: 80%;
  top: -25px;
  border:1px solid gainsboro;
}

footer{
  color:white;
}

footer>section.footer{
  top: 50px;
  display: flex;
  flex-wrap: wrap;
}

footer>section.footer div{
  text-align: center;
  width: 49%;
}

hr{
  background-color: gray;
  border-radius: 10px;
  height: 2px;
  width: 90%;
}

footer aside div{
  display: flex;
  justify-content:space-evenly;
}








